body {
  margin: 0;
  font-family: 'Roboto', Arial;
}

.socials-container {
  position: absolute;
  right: 0;
  top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  z-index: 99;
  opacity: 0;
  animation: introFadeIn 1s linear forwards;
  animation-delay: 1.5s;
}

.socials-container a {
  color: white;
  padding: 4px 12px;
}

.photo-holder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url("/apple-touch-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-container {
  position: absolute;
  color: black;
  width: 100%;
  text-align: left;
  padding-top: 8px;
  opacity: 0;
  animation: introFadeIn 1s linear forwards;
  animation-delay: 1.5s;
}

h1, h2 {
  padding-left: 12px;
}

h1 {
  margin: 0;
}

.mobile-instructions > p {
  padding-left: 12px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  margin: 0 0 2px 0;
}

canvas {
  width: 100% !important;
}

.desktop-instructions {
  display: none;
}

.button-container {
  width: 290px;
  left: 50%;
  margin-left: -145px;
  position: absolute;
  height: 44px;
  bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  animation: introFadeIn 1s linear forwards;
  animation-delay: 1.5s;
  border-top: 1px solid #0000001c;
  padding-top: 18px;
}

.button-container p {
  font-size: 32px;
  color: #00000024;
  margin: 0 8px;
}

.custom-button {
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #67a3d4;
  border-radius: 4px;
  padding: 13px 18px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;

}

.custom-button:hover,
.custom-button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.disabled-btn {
  background-color: #67a3d497;
  opacity: 0.5;
}

.pause-btn {
  background: #fa4848;
}
.pause-btn.is-paused {
  background: #1ED760;
  padding: 10px 18px;
  border-radius: 50%;
  animation: buttonGlow 0.6s linear infinite alternate;
}

@media (min-width: 924px) {
  .socials-container {
    flex-direction: row;
    top: 0;
    padding: 8px;
  }

  .socials-container a {
    padding: 0 3px;
  }

  .socials-container svg {
    width: 32px;
    height: 32px;
  }

  .photo-holder {
    width: 32px;
    height: 32px;
  }

  .home-link:hover {
    opacity: 0.6;
  }
  h1 {
    font-size: 52px;
    padding-left: 0;
  }

  h2 {
    font-size: 18px;
  }

  a:hover svg path {
    fill: #eeeeee;
  }

  .text-container {
    text-align: center;
    padding-top: 24px;
  }

  .mobile-instructions {
    display: none;
  }

  .desktop-instructions {
    display: block;
  }

  .desktop-instructions p {
    display: block;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      margin: 0 0 2px 0;
  }

  .button-container {
    padding: 18px 0 0 0;
  }

  .custom-button:hover {
    transform: translateY(-1px);
  }

  .disabled-btn {
    cursor: default;
  }

  .disabled-btn:hover {
    transform: none;
    box-shadow: none;
  }
}

@keyframes introFadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes buttonGlow {
  from { box-shadow: 0 0 16px 10px #47ff5f00 }
  to { box-shadow: 0 0 16px 10px #47ff5fb3 }
}