canvas {
  width: 100% !important;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial;
}

.header {
  position: absolute;
  color: black;
  width: 100%;
  text-align: left;
  padding-top: 8px;
}

/* Fade in UI when 3d Model finished loading: */
.header,
.socials,
.action-btns {
  transition: opacity .25s linear;
  transition-delay: 1.25s;
}

.hidden {
  opacity: 0;
}

h1 {
  margin: 0;
}

h1, .mobile-instructions > p, .desktop-instructions > p {
  text-shadow: 1px 1px 5px #c9c9c9c4;
}

h1, .mobile-instructions > p {
  padding-left: 12px;
}

.mobile-instructions > p {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  margin: 0 0 2px 0;
}

.desktop-instructions {
  display: none;
}

/* Social Buttons: */
.socials {
  position: absolute;
  right: 5px;
  top: 11px;
  display: flex;
  justify-content: space-around;
  background: transparent;
  z-index: 99;
}

.socials a {
  color: white;
  padding: 4px 7px;
}

.photo-holder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("/apple-touch-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Action Buttons: */
.action-btns {
  width: 290px;
  left: 50%;
  margin-left: -145px;
  position: absolute;
  height: 44px;
  bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #00000094;
  padding-top: 18px;
}

.action-btns p {
  font-size: 32px;
  color: #00000024;
  margin: 0 8px;
}

.action-btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #67a3d4;
  border-radius: 4px;
  padding: 13px 18px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

.action-btn:hover,
.action-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.disabled-btn {
  background-color: #67a3d497;
  opacity: 0.5;
}

.pause-btn {
  background: #fa4848;
}
.pause-btn.is-paused {
  background: #1ED760;
  padding: 10px 18px;
  border-radius: 50%;
  animation: buttonGlow 0.6s linear infinite alternate;
}

@media (min-width: 924px) {
  .header {
    text-align: center;
    padding-top: 24px;
  }

  h1 {
    font-size: 52px;
    padding-left: 0;
  }

  h2 {
    font-size: 18px;
  }

  .mobile-instructions {
    display: none;
  }

  .desktop-instructions {
    display: block;
  }

  .desktop-instructions p {
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 2px 0;
  }

  /* Social buttons: */
  a:hover svg path {
    fill: #8f8f8f;
  }

  .socials {
    top: 13px;
    right: 9px;
    padding: 8px;
  }

  .socials a {
    padding: 0 6px;
  }

  .home-link:hover {
    opacity: 0.6;
  }

  /* Action Buttons: */
  .action-btns {
    padding: 18px 0 0 0;
  }

  .action-btn:hover {
    transform: translateY(-1px);
  }

  .disabled-btn {
    cursor: default;
  }

  .disabled-btn:hover {
    transform: none;
    box-shadow: none;
  }
}

/* buttonGlow is used for when an animation is paused:  */
@keyframes buttonGlow {
  from { box-shadow: 0 0 16px 10px #47ff5f00 }
  to { box-shadow: 0 0 16px 10px #47ff5fb3 }
}